<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Welcome to ChatBot</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'main.js' %}"></script>
</head>
<body><!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8"/>
    <title>Welcome to ChatBot</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'main.js' %}"></script>
  </head>
  <body>
    <h1>English ChatBot</h1>
    <h3>A web implementation of <a href="https://github.com/gunthercox/ChatterBot">ChatterBot</a> using Flask.</h3>
    <div>
      <div id="chatbox">
        <p class="botText"><span>Hi! I'm Chatterbot.</span></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message">
        <input id="buttonInput" type="submit" value="Send">
      </div>
    </div>
  </body>
  </html>
  
  <h1>English ChatBot</h1>
  <h3>A web implementation of <a href="https://github.com/gunthercox/ChatterBot">ChatterBot</a> using Flask.</h3>
  <div>
    <div id="chatbox">
      <p class="botText"><span>Hi! I'm Chatterbot.</span></p>
    </div>
    <div id="userInput">
      <input id="textInput" type="text" name="msg" placeholder="Message">
      <input id="buttonInput" type="submit" value="Send">
    </div>
  </div>
</body>
</html>
